* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dadbfa;
}
.container {
    position: fixed;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 100px;
}
.container .wheel {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333,
    0 0 0 15px #fff,
    0 0 0 18px #111;
    transition: transform 5s ease-in-out;
}
.container .spinBtn{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.1em;
    border: 4px solid #001247;
    cursor: pointer;
    user-select: none;
}
.container .spinBtn::before{
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}
.container .wheel .number{
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;

}
.container .wheel .number span{
    position: fixed;
    transform: rotate(45deg);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0,0,0,0.15);
}
.container .wheel .number span::before{
    position: absolute;
    font-size: 21px;
    font-weight: 500;
}

.number {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number span {
    max-width: 80%;
    text-align: center;
}


.info-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 18px;
    padding-top: 70px;
    padding-left: 500px;
    padding-right: 100px;
}
